
header > section,
main > section,
footer > section,
header > section > section,
main > section > section, 
footer > section > section,
header > section > section > div > a,
.br-gallery,
.br-gallery > * ,
.br-gallery > * > * ,
.br-gallery > * > * > * {
    /* appearance */
    background-color: transparent;
    border: 0px;
}



header {
    height: 15vmax;
}

header > section {
    background-color: #ddd7ce;
}

header > section > section > div > a {
    /* appearance */
    background-image: url( '../images/logo_icon.svg' );
    background-size: 27%;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    /* border: 1px solid red; */
    padding-left: 5rem;
    letter-spacing: -.06rem;
    color: #5b4d27;
    display: flex;
    align-items: center
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

footer > section {
    background-color: #9f9484;
}

@media ( min-width: 768px ) {
    header {
        height: 15vmin;
    }
}